<!doctype html>
<html lang="en">
<!--título de web, metas, dependencias CSS/JS-->
<head th:include="fragments/header :: header (pageName='Generar orden de compra')">
</head>

<body>
    <div class="wrapper">
        <div th:include="fragments/sidenav :: sidenav" class="sidebar" data-color="purple" data-image="../img/sidebar-1.jpg"></div>

        <div class="main-panel">
            <nav th:include="fragments/navbar :: navbar" class="navbar navbar-transparent navbar-absolute"></nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">                        
                        <div class="col-md-12">
                            <div class="card ordenCompras">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Generar orden de compra</h4>
                                </div>
                                <div  id="ordenCompra" class="card-content table-responsive">
                                    <form>

                                        <!--formulario de proveedor-->
                                        <fieldset>
                                            <h5 class="text-primary">Datos de Proveedor</h5>
                                            <div class="row">
                                                <div class="col-md-6">
                                                      <div class="form-group">
                                                          <label class="control-label">Nombre</label>
                                                          <input type="text" class="form-control" disabled v-model="proveedor.razonSocial"/>
                                                      </div>
                                                </div>
                                                <div class="col-md-6">
                                                      <input type="button" @click="buscarProveedor" class="btn btn-default right" value="Buscar" />
                                                </div>
                                            </div>
                                            <div class="row">                                                
                                                <div class="col-md-6 col-sm-12">
                                                      <div class="form-group">
                                                          <label class="control-label">Ruc</label>
                                                          <textarea  v-model="proveedor.ruc" class="form-control" disabled></textarea>
                                                      </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                      <div class="form-group">
                                                          <label class="control-label">Telefono</label>
                                                          <input type="text" class="form-control" disabled v-model="proveedor.telefono"/>
                                                      </div>
                                                </div>
                                                <div class="col-md-6">
                                                      <div class="form-group">
                                                          <label class="control-label">Email</label>
                                                          <input type="text" class="form-control" disabled v-model="proveedor.email"/>
                                                      </div>
                                                </div>
                                            </div>
                                        </fieldset>


                                        <!--formulario de producto-->
                                        <fieldset>
                                            <h5 class="text-primary">Datos Producto</h5>
                                            <div class="row">
                                                <div class="col-md-4">
                                                      <div class="form-group">
                                                          <label class="control-label">Código</label>
                                                          <input type="text" class="form-control" v-model="producto.id" disabled />
                                                      </div>
                                                </div>
                                                <div class="col-md-5">
                                                      <div class="form-group">
                                                          <label class="control-label">Nombre</label>
                                                          <input type="text" class="form-control" disabled v-model="producto.descripcion"/>
                                                      </div>
                                                </div>
                                                <div class="col-md-3">
                                                      <input type="button" class="btn btn-default right" value="Buscar" @click="buscarProducto" />
                                                </div>
                                            </div>

                                            <div class="row">                               
                                                <div class="col-md-4">
                                                      <div class="form-group">
                                                          <label class="control-label">Stock</label>
                                                          <input type="text" class="form-control" disabled v-model="producto.stock"/>
                                                      </div>
                                                </div>
                                                <div class="col-md-4">
                                                      <!--dependerá del plazo de pago-->
                                                      <div class="form-group">
                                                          <label class="control-label">Precio unitario de compra</label>
                                                          <input type="text" class="form-control" disabled v-model="producto.precioCompra"/>
                                                      </div>
                                                </div>
                                                <div class="col-md-2">
                                                      <div class="form-group">
                                                          <label class="control-label">Cantidad</label>
                                                          <input type="number" class="form-control"  v-model="producto.cantidad" placeholder="0" />
                                                      </div>
                                                </div>
                                            </div>

                                            <div class="row">                               
                                                <div class="col-md-12">
                                                      <input type="button" class="btn btn-default right" value="Agregar" 
                                                      @click="agregarProducto"/>
                                                </div>
                                            </div>


                                            <!-- Listado de productos - detalle de orden compras -->
                                            <table class="table lista">
                                                <thead class="text-primary">
                                                    <th>Código</th>
                                                    <th>Nombre</th>
                                                    <th>Cantidad</th>
                                                    <th>Prec. Compra</th>
                                                    <th>SubTotal</th> <!--calcular-->
                                                    <th>Acciones</th>
                                                </thead>
                                                <tbody>      
                                                    

                                                    <!--si no hay productos mostrar-->
                                                    <tr v-if="productos.length==0"><td colspan="6" textAlign="center">Lista Vacía</td></tr>

                                                    <!--en otro caso, mostrar todos los productos-->
                                                    <tr v-for="(producto,index) in productos">
                                                        <td>{{producto.id}}</td>
                                                        <td class="text-primary">{{producto.descripcion}}</td>
                                                        <td class="text-primary">{{producto.cantidad}}</td>
                                                        <td>S/.{{producto.precioCompra}}</td>
                                                        <td class="text-primary">{{producto.precioCompra*producto.cantidad | currency}}</td>
                                                        <td><a @click="quitarProducto(index)" href="#editar-producto">
                                                            <i class="material-icons">clear</i>
                                                        </a></td>                   
                                                     </tr>
                                                </tbody>
                                            </table>
                                        </fieldset>


                                        <div class="row flex-column">
                                                <div class="col-md-3 flex-item-right">
                                                
                                                        <div class="form-group">
                                                            <label class="control-label">SubTotal
                                                              <input type="text" class="form-control"  disabled="" v-model="ordenCompra.subTotal"/>
                                                            </label>
                                                        </div>
                                                
                                                
                                                        <div class="form-group">
                                                            <label class="control-label">IGV
                                                              <input type="text" class="form-control"  disabled="" v-model="ordenCompra.igv"/>
                                                            </label>
                                                        </div>

                                                
                                                        <div class="form-group">
                                                            <label class="control-label">Total
                                                              <input type="text" class="form-control"  disabled="" v-model="ordenCompra.total" />
                                                            </label>
                                                        </div>                                        
                                                </div>
                                          
                                                <div class="form-group flex-item-center">
                                                  <label>
                                                    <input type="button" class="btn btn-default" value="Registrar" @click="registrarOrdenCompra" />
                                                  </label>
                                                </div>
                                                
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--footer-->
            <footer class="footer" th:replace="fragments/footer :: footer"></footer> 
        
        </div>
    </div>

    <!--dependencias JS-->
    <div th:replace="fragments/footer_dependencies :: dependencies (pageType='system')"></div> 

    <!--modal de buscar producto-->
    <div th:replace="fragments/buscar_producto :: buscar-producto"></div> 
    <!--modal de buscar proveedor-->
    <div th:replace="fragments/buscar_proveedor :: buscar-proveedor"></div>

    
    <!--obtener servicio de venta-->
    <script th:src="@{/app/ordenCompraService.js}"></script>
    <script th:src="@{/app/notaVentaService.js}"></script>
    <script th:src="@{/app/detalleCompraService.js}"></script>


    <script type="text/javascript">                
        var vm;
        $(document).ready(function() {
                  //VUE FILTROS
                  Vue.filter('currency', function (value) {
                      return parseFloat(value).toFixed(2);
                  });
                  //VUE VISTA-MODELO
                    //modelo
                    //YYYY-MM-DD HH:MM:SS
                    var data={
                        compraId:0,
                        ordenCompra:{ 
                          proveedorId:1,
                          subTotal:0.0,
                          igv:0.0,
                          total:0.0,
                          fecha:'2017-11-30',
                        },
                        proveedor:{
                            id:0,
                            ruc:'',
                            razonSocial:'',
                            email:'',
                            telefono:'',
                            estadoId:1,
                            estado:'0',
                        },
                        producto:{
                          id:0,
                          descripcion:'',
                          precio:0.0, //precio de compra
                          precioCompra:0.0,
                          precioVenta:0.0,
                          precioPack7:0.0,
                          precioPack15:0.0,                          
                          stock:0,
                          estadoId:0,
                          estado:'0',
                          cantidad:0,
                        },
                        productos:[]

                    };



                    var calcularTotal=function (val) {                              
                              this.ordenCompra.igv=parseFloat(0.18*this.ordenCompra.subTotal).toFixed(2);
                              this.ordenCompra.total = parseFloat(1.18*this.ordenCompra.subTotal).toFixed(2);
                    };

                    //vista-modelo
                    vm = new Vue({
                        el: "#ordenCompra",
                        data,
                        beforeCreate: function(){                        

                            //setear las fechas por defecto
                            hoy=new Date();
                            prefix=(hoy.getDate()<10?'0':'');
                            this.ordenCompra.fecha=`${hoy.getFullYear()}-${hoy.getMonth()+1}-${prefix+hoy.getDate()}`;

                        }, //métodos
                        watch:{                           
                            'ordenCompra.subTotal': calcularTotal                            
                        },
                        methods:{
                            registrarOrdenCompra:function(){
                                this.ordenCompra.proveedorId=this.proveedor.id;
                                $.ajax({
                                  url:'/ordenes-compra',
                                  method:'post',
                                  data:JSON.stringify(this.ordenCompra),
                                  headers: {
                                    "content-type": "application/json"
                                  },
                                  success:(resp)=>{
                                      modal('Generar OrdenCompra',resp.message);
                                      //redireccionar al reporte de ventas
                                      if(resp.error==0) {
                                        this.compraId=resp.data[0].id;
                                        this.registrarDetalleCompra();
                                      }

                                  }

                                });
                            },
                            //método recursivo
                            registrarDetalleCompra:function (){
                              
                              if(this.productos.length>0){
                                this.productos[0].productoId=this.productos[0].id;
                                DetalleCompraService.save(this.productos[0],this.compraId)
                                                   .then((resp)=>{
                                                      if(resp.error==0){
                                                        this.productos.splice(0,1); //eliminar el primer elemento
                                                        this.registrarDetalleCompra();
                                                      }
                                                      else
                                                        modal('Generar OrdenCompra',resp.message);
                                                   });
                              }
                              else //umbral, redireccionar
                                  window.location="./reporte_compras";
                            },
                            buscarProveedor: function(){
                                buscarProveedor.show(
                                    //cuando se seleccione el proveedor de la otra pantalla
                                    (resp,proveedor)=>{
                                            modal('Generar ordenCompra',resp.message);
                                            if(resp.error==0) {                                              
                                              for(var attr in this.proveedor)
                                                  this.proveedor[attr]=proveedor[attr];
                                            }

                                    });
                            },                            
                            realizarSumatoria: function(){
                                let sumatoria=0;
                                  for(var i in this.productos)                                
                                    sumatoria+=this.productos[i].cantidad*this.productos[i].precioCompra;
                                this.ordenCompra.subTotal=sumatoria;
                            },
                            buscarProducto: function(){
                                buscarProducto.show(
                                    //cuando se seleccione el proveedor de la otra pantalla
                                    (resp,producto)=>{
                                            modal('Generar ordenCompra',resp.message);
                                            if(resp.error==0) {                                              
                                              for(var attr in this.producto)
                                                  this.producto[attr]=producto[attr];
                                              this.producto.cantidad=0;                                              
                                            }

                                    });
                            },
                            //quitar producto de la lista
                            quitarProducto: function(index){
                              this.productos.splice(index,1);
                              this.realizarSumatoria();
                              this.cleanProducto();
                            },
                            //agregar producto a la lista
                            agregarProducto: function(){ 
                              if(this.producto.id!=0){
                                this.productos.push($.extend(true, {}, this.producto));
                                this.realizarSumatoria();
                                this.cleanProducto();
                              } 
                              else modal('Generar Orden de Compra','Seleccione primero un producto antes de agregar al carrito');
                            },
                            //limpiar formulario de producto
                            cleanProducto: function(){
                              this.producto={
                                  id:0,
                                  descripcion:'',
                                  precioCompra:0.0,
                                  precioVenta:0.0,                                  
                                  precioPack7:0.0,
                                  precioPack15:0.0,                                  
                                  stock:0,
                                  estadoId:0,
                                  estado:'0',
                                  cantidad:0,
                                };    
                            }
                        }
                    });
        });
    </script>

</body>


</html>